/* Write your global styles here, in PostCSS syntax */

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  p {
    @apply pt-2 pb-2
  }
  .masonry {
    column-count: 3;
    column-gap: 1.5em;
  }
  .break-inside {
    break-inside: avoid;
  }
}
  
  